body{
	font-style: italic;
	background:url("../public/background-logo.png");
	background-attachment:fixed;
}

.header {
	height:70px;
	width:1300px;
	background-color: #000000;
	margin: 1rem auto;
	opacity:0.5;
}

.contentArea {
	height:500px;
	width:1300px;
	background-color:#003333;
	margin: 1rem auto;
	opacity: 0.5;
}

#toLoginAndRegisterPageBtn {
	position:absolute;
	right:100px;
	top:23px;
}

#toAboutPageBtn{
	position:absolute;
	right:300px;
	top:23px;
}

#toHomePageBtn{
	position:absolute;
	right:450px;
	top:23px;
}

#aboutTxt{
	top:100px;
	position:absolute;
	color:#FFFFFF;
	font-family:arial;
	font-size:15px;
}


#signoutBtn {
	position:absolute;
	right:100px;
	top:23px;
}

#toAccountSettingsBtn{
	position:absolute;
	right:200px;
	top:23px;
}

#toMyUploadsBtn{
	position:absolute;
	right:350px;
	top:23px;
}

#uploadBtn{
	position:absolute;
	top:120px;
	right:50px;
}

#uploadedContentsHeading{
	position:absolute;
	top:100px;
	left:60px;
}

#pageNameHeading{
	position:absolute;
	top:5px;
	left:150px;
	color:#FFFFFF;
	font-family:arial;
}

#toAboutPageBtnSignedIn{
	position:absolute;
	right:470px;
	top:23px;
}

#toHomePageBtnSignedIn{
	position:absolute;
	right:550px;
	top:23px;
}

#usernameOrEmailTxtFld{
    position:absolute;
	left:300px;
	top:100px;
	
}

#usernameOrEmailLbl{
	position:absolute;
	left:620px;
	top:180px;
}

#passwordTxtFld{
position:absolute;
left:300px;
top:140px;	
}

#passwordLbl{
	position:absolute;
	left:640px;
	top:260px;
}

#loginBtn{
	position:absolute;
	left:640px;
	top:320px;
}

#toPwdRecPageBtn{
	position:absolute;
	top:360px;
	left:610px;
}

#toSignupPageBtn{
	position:absolute;
	left:620px;
	top:460px;
}

#doNotHaveAccLbl{
	position:absolute;
	left:600px;
	top:430px;
}


#emailLbl{
	position:absolute;
	left:650px;
	top:150px;
}

#emailTxtFld{
	position:absolute;
	left:300px;
	top:85px;
}

#usernameLbl{
	position:absolute;
	left:635px;
	top:220px;
}

#usernameTxtFld{
	position:absolute;
	left:300px;
	top:120px;
}

#pwdLbl{
	position:absolute;
	left:640px;
	top:290px;
}

#pwdTxtFld{
	position:absolute;
	left:300px;
	top:155px;
}

#reenterPwdLbl{
	position:absolute;
	left:610px;
	top:360px;
}

#reenterPwdTxtFld{
	position:absolute;
	left:300px;
	top:190px;
}

#selectProfilePicLbl{
	position:absolute;
	left:560px;
	top:420px;
}

#browseImageBtn{
	position:absolute;
	left:645px;
	top:450px;
}

#signupBtn{
	position:absolute;
	left:645px;
	top:520px;
}

#changePwdEmailOrUsrLbl{
	position:absolute;
	left:450px;
	top:175px;
}

#changePwdEmailOrUsrTxtFld{
	position:absolute;
	left:220px;
	top:100px;
}

#changePwdOldPwdLbl{
	position:absolute;
	left:465px;
	top:300px;
}

#changePwdOldPwdTxtFld{
	position:absolute;
	left:220px;
	top:161px;
}

#changePwdNewPwdLbl{
	position:absolute;
	left:820px;
	top:175px;
}

#changePwdNewPwdTxtFld{
	position:absolute;
	left:400px;
	top:100px;
}

#changePwdRepeatNewPwdLbl{
	position:absolute;
	left:790px;
	top:300px;
}

#changePwdRepeatNewPwdTxtFld{
	position:absolute;
	left:400px;
	top:160px;
}

#changePwdBtn{
	position:absolute;
	left:620px;
	top:400px;
}

#changeEmailHeading{
	position: absolute;
	left:365px;
	top:140px;
}

#updEmailLbl{
	position:absolute;
	left:385px;
	top:200px;
}

#updEmailTxtFld{
	position:absolute;
	left:175px;
	top:110px;
}

#usrToConfirmAccUpdateTxtFld{
	position:absolute;
	left:175px;
	top:150px;
}

#pwdToConfirmAccUpdatTxtFld{
	position:absolute;
	left:175px;
	top:180px;
}

#updateProfileBtn{
	position:absolute;
	left:365px;
	top:440px;
}

#changeUsernameHeading{
	position: absolute;
	left: 630px;
	top: 140px;
}

#updUsernameLbl{
	position: absolute;
	left:650px;
	top:200px;
}

#updUsernameTxtFld{
	position:absolute;
	left:315px;
	top:110px;
}

#emailToConfirmUsrUpdateTxtFld{
	position:absolute;
	left:315px;
	top:150px;
}

#pwdToConfirmUsrUpdateTxtFld{
	position:absolute;
	left:315px;
	top:180px;
}

#updateUsernameBtn{
	position:absolute;
	left:640px;
	top:440px;
}

#changePasswordHeading{
	position: absolute;
	left:950px;
	top: 140px;
}

#updNewPasswordLbl{
	position:absolute;
	left:970px;
	top:200px;
}

#updNewPasswordTxtFld{
	position:absolute;
	left:475px;
	top:110px;
}

#repeatNewPwdLbl{
	position:absolute;
	left:940px;
	top:280px;
}

#repeatNewPwdTxtFld{
	position:absolute;
	left:475px;
	top:150px;
}

#usrToConfirmPwdUpdateTxtFld{
	position:absolute;
	left:475px;
	top:180px;
}

#pwdToConfirmPwdUpdateTxtFld{
	position:absolute;
	left:475px;
	top:200px;
}

#updatePasswordBtn{
	position:absolute;
	left:960px;
	top:440px;
}

#toChangePasswordPageLbl{
	position:absolute;
	left:620px;
	top:550px;
}

#deleteAccEmailOrUsernameLbl{
	position:absolute;
	left:600px;
	top:150px;
}

#deleteAccEmailOrUsernameTxtFld{
	position:absolute;
	left:290px;
	top:85px;
}

#deleteAccPwdLbl{
	position:absolute;
	left:620px;
	top:230px;
}

#deleteAccPwdTxtFld{
	position:absolute;
	left:290px;
	top:125px;
}

#deleteAccRepeatPwdLbl{
	position:absolute;
	left:600px;
	top:310px;
}

#deleteAccRepeatPwdTxtFld{
	position:absolute;
	left:580px;
	top:330px;
}

#deleteProfileBtn{
	position:absolute;
	left:600px;
	top:400px;
}

#pwdRecoveryEmailLbl{
	position:absolute;
	left:465px;
	top:250px;
}

#pwdRecoveryEmailTxtFld{
	position:absolute;
	left:260px;
	top:125px;
}

#pwdRecoveryBtn{
	position:absolute;
	left:680px;
	top:250px;
}

#myAccData{
	position:absolute;
	left:500px;
	top:150px;
}

#toChngAccDataInsideAccDataPage{
	position:absolute;
	left:600px;
	top:400px;
}
